snippet pubf "public method"
	public function ${1}(${2}): ${3}
	{
		${0}
	}
	
snippet prof "public method"
	protected function ${1}(${2}): ${3}
	{
		${0}
	}
snippet prif "public method"
	private function ${1}(${2}): ${3}
	{
		${0}
	}

snippet tst "test method (prefix)"
	/** @test */
	public function ${1}()
	{
		${0}
	}
